.delete-all {
    background-color: #ff1a1a;
    border: none;
    outline: none;
    padding: 1.2rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s;
}

.delete-all:hover {
    filter: brightness(85%);
}
